.address-img{
    width: 3.2rem;
    height: 3.2rem;
    margin:1.92rem auto 0.28rem;
    background: url(../../images/address-img.png?v=${js.version}) center no-repeat;
    background-size: cover;
}
.tip{
    color:#cccccc;
    font-size:15px;
    text-align: center;
}
[data-dpr="2"] .tip{
    font-size:30px;
}
[data-dpr="3"] .tip{
    font-size:45px;
}
.address-wrap li{
    padding:0.4rem 0.4rem 0.24rem;
    border-bottom: 1px solid #ccc;
}
.address-name{
    font-size:14px;
    font-weight:bold;
}
.address-detail{
    width: 100%;
    margin:0.24rem 0;
    color:#666;
    font-size:14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
[data-dpr="2"] .address-name,[data-dpr="2"] .address-detail{
    font-size:28px;
}
[data-dpr="3"] .address-name,[data-dpr="3"] .address-detail{
    font-size:42px;
}
.address-operation.set-default{
    display: block;
    margin:0.28rem 0.4rem;
}
.address-operation label{
    float: left;
    height: 0.48rem;
    margin-left: 0.2rem;
    color:#999999;
    line-height: 0.5rem;
}
.address-operation input{
    float: left;
    width: 0.48rem;
    height: 0.48rem;
    background: transparent;
    border:1px solid #ccc;
    border-radius: 100%;
    -webkit-appearance: none;
}
.address-operation input:checked{
    background-image: url(../../images/icon-gou.png?v=${js.version});
    background-repeat: no-repeat;
    background-color: #ff3300;
    background-position: center;
    border:1px solid #ff3300;
}
.address-btn{
    padding: 0.08rem 0.12rem;
    margin-left:0.2rem;
    color:#cc0000;
    font-size:12px;
    border:1px solid #cc0000;
    border-radius: 0.04rem;
}
[data-dpr="2"] .address-btn{
    font-size:24px;
}
[data-dpr="3"] .address-btn{
    font-size:36px;
}





